DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=*
CORS_ALLOW_ALL_ORIGINS=true

MYSQL_DATABASE=saas_resto
MYSQL_USER=root
MYSQL_PASSWORD=root
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306

# Option dev local sans MySQL
# USE_SQLITE=true
